# description
include README.rst

# license
include LICENSE

# quilt3-license
include LICENSE.quilt3.md

# requirements
include requirements.txt

# configuration
recursive-include datanator/config *.cfg

# data source configurations
recursive-include datanator/data_source *.txt

# data files
recursive-include datanator/data *.txt *.xlsx
