git+https://github.com/cokelaer/bioservices.git#egg=bioservices-1.5.0
bs4
cement
demjson
enum34
ete3
jxmlease
natsort
numpy
git+https://github.com/KarrLab/obj_model.git#egg=obj_model-0.0.5
openbabel
openpyxl
pandas
pronto
pubchempy
python_dateutil
python_levenshtein
python_libsbml
requests
requests_cache
scipy
six
sqlalchemy
flask_whooshalchemy == 0.8
flask_sqlalchemy
flask
unicodecsv
git+https://github.com/KarrLab/wc_utils.git#egg=wc_utils-0.0.1a5
