
<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="static/node_modules/bootstrap/dist/css/bootstrap.min.css" />
        <link type="text/css" href="static/node_modules/alpaca/dist/alpaca/bootstrap/alpaca.css" rel="stylesheet" />
        <script type="text/javascript" src="static/node_modules/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="static/node_modules/handlebars/dist/handlebars.js"></script>
        <script type="text/javascript" src="static/node_modules/alpaca/dist/alpaca/bootstrap/alpaca.min.js"></script>
    </head>
    <body>
        <div id="form"></div>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#form").alpaca({
                    "schema": {{ variable|tojson }}



                    ,

"options": {
                        "form":{
                            "attributes":{
                                "action":"http://httpbin.org/post",
                                "method":"post"
                            },
                            "buttons":{
                                "submit":{}
                            }
                        }}




                });
            });
        </script>
    </body>
</html>


