
body, html {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  width:100%;
  height:100%;
  transition: 0.5s;

}

.wrapper{
  position: fixed;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #4f5b66;
}

.brand{
  height:auto;
  width:250px;
}

.content{
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  min-width: 80vw;
  min-height: 60vh;
  border-radius: 20px;
  background-color: white;
  color:black;
}



.link-1 {
  transition: 0.3s ease;
  font-size: 15px;
  padding: 20px 0;
  margin: 10px 20px;
}

.link-1:hover {
  color: #FFCE54;
  text-decoration: none;
  border-top: 4px solid #FFCE54;
  padding: 6px 0;
}
