@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');


/* --------------- Fonts -------------- */
.pt-sans-blue{
    color:#3BAFDA;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}

.roboto{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.roboto-white{
    color:white;
    font-family: 'Roboto', sans-serif;
}

.roboto-blue{
    color:#3BAFDA;
    font-family: 'Roboto', sans-serif;
}

.roboto-orange{
    color:#FFCE54;
    font-family: 'Roboto', sans-serif;
}

.pt-sans-black{
  font-family: 'PT Sans', sans-serif;
  color:black;
}

.pt-sans-white{
  font-family: 'PT Sans', sans-serif;
  color:white;
}

.pt-san-bold{
  font-weight: bold;
  color:black;
  font-family: 'PT Sans', sans-serif;
}

.roboto-bold{
  color:black;
  font-family: 'Roboto', sans-serif;
}

.fira-blue{
    color:#3BAFDA;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
}

.fira-black{
  font-family: 'Fira Sans', sans-serif;
  color:black;
}


.fira-white{
  font-family: 'Fira Sans', sans-serif;
  color:white;
}

.fira-bold{
  font-weight: bold;
  color:black;
  font-family: 'Fira Sans', sans-serif
}

/* --------------------------------------- */


/* --------------- INPUT BOX -------------- */

.draw-border {
  box-shadow: inset 0 0 0 4px #58afd1;
  color: #58afd1;
  transition: color 0.25s 0.0833333333s;
  position: relative;
  width: 300px;
  height: 50px;
}
.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.draw-border:hover {
  color: #FFCE54;
}
.draw-border:hover::before, .draw-border:hover::after {
  border-color: #FFCE54;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}




/* --------------- PADS -------------- */

.pads{
    padding:30px;
}

.pads-larger{
    padding:40px 100px;
}

.small-pads{
  padding:10px;
}

.top_pads{
  padding: 50px 0px 0px;
}


.vert_pads{
 padding:20px 0px;
}

.vert_pads_small{
 margin:2vh 0px;
}
