cement
configparser
demjson
ete3
jxmlease
# openbabel
python-dateutil
robpol86-sphinxcontrib-googleanalytics
six
Sphinx >= 1.6
sphinx_rtd_theme
sphinxcontrib-bibtex
sphinxcontrib-spelling
sqlalchemy
git+https://github.com/KarrLab/wc_utils.git#egg=wc_utils
